# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
sent_topics.txt
*.log

# Virtual Environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Distribution
dist/
build/
*.egg-info/
